.chat-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 15%;
    opacity: 0.75;
}

.info-text{
    font-size: var(--font-size-1);
}

.chat-window{
    background-color: var(--chat-bg);
    height: 75%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-container{
    padding: var(--spacing-1);
}

.text-container{
    order: 0;
}

.text-container p{
    margin-bottom: var(--spacing-1);
}

.emoticon-menu{
    order: 1;
    height: 10%;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
}

.current-date{
    color: var(--color-5-shade);
    font-size: 0.75rem;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    padding: calc(var(--spacing-1)/2);
    margin-left: var(--spacing-1);
}

.chat-window .text-container:nth-child(even) .message{
    background-color: var(--color-2);
    color: #eee;
    color: var(--chat-bg);
    opacity: 0.75;
}

.emoticon{
    width: 7.5%;
}

