.lobby-container{
    display: none;
    height: 100%;
    color: var(--color-1);
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, var(--color-1), var(--color-2));
}

.lobby-header{
    display: none;
    width: 100%;
}

.lobby-container h2{
    color: #fff;
    letter-spacing: 2px;
    padding: var(--spacing-1);
    width: 100%;
    text-align: center;
    font-size: var(--header-font-size);
}

.lobby-main{
    background-color: var(--chat-bg);
    padding: var(--spacing-2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--spacing-2);
    height: 100%;
    width: 100%;
}

.lobby-main label{
    text-align: center;
}

.lobby-main p{
    font-size: var(--font-size-1);
    align-self: center;
}

.user-list{
    color: var(--color-5-shade);
    opacity: 0.9;
}

.lobby-item{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: var(--spacing-1);
}

.dropdown-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.dropdown{
    outline: none;
    cursor: pointer;
    padding: calc(var(--spacing-1)/2) var(--spacing-1);
    font-family: inherit;
    border: none;
    outline: none;
    color: var(--color-1);
    width: 75%;
    text-align: center;
    width: 100%;
}

#save-changes{
    color: white;
    padding: var(--spacing-2);
    width: 100%;
}