.user-panel{
    display: flex;
    justify-content: space-between;
    height: 10%;
    overflow-x: hidden;
}

.user-input, .user-input::placeholder{
    height: 100%;
    color: inherit;
    font-family: inherit;
    text-align: center;
}

.user-input::placeholder{
    /* font-style: italic; */
}

.user-input, .btn{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 var(--spacing-1);
}

.btn{
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    background-color: var(--color-5-shade);
    /* font-weight: var(--weight-strong); */
    font-size: var(--font-size-2);
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Anton', sans-serif, Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btn:active{
    background-color: var(--color-5);
}

.message{
    color: var(--color-1);
}

.svg{
    padding: 0 calc(var(--spacing-1)/2.5);
}


.active-star{
    background-color: var(--color-5);
    background-color: var(--color-1);
    width: calc(100% + 5px);
    transition: 2s ease-in-out;
}


