@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barriecito&family=Roboto:wght@300&family=Tilt+Prism&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

:root{
    /*Colors*/
    --color-1: rgb(74,85,162);
    --color-2: rgb(120,149,203);
    --color-3: rgb(160, 191, 224);
    --color-4: rgb(197, 223, 248);
    --color-4-shade: rgb(197,223,248, .25);
    --color-5: rgba(201,112,61);
    --color-5-brighter: rgba(255,132,0, .9);
    --color-5-shade: rgba(255, 132, 0, .85);
    --chat-bg: rgba(255,255,255,0.75);

    /*Spacings*/
    --spacing-1: .8rem;
    --spacing-2: 1.2rem;

    /*Font Sizes*/
    --font-size-1: .8rem;
    --font-size-2: calc(var(--font-size-1)*.85);
    --font-size-3: calc(var(--font-size-1) * 1.25);
    --header-font-size: 1.3rem;

    /*Font Weight*/
    --weight-weak: 500;
    --weight-strong: bolder;

    /*Toggles*/
    --main-toggle-size: 1.75rem;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--color-1);
    justify-content: flex-start;
    max-width: 90%;
    margin: 0 auto;
    color: var(--chat-bg);
    font-family: 'Anton', sans-serif, Georgia, 'Times New Roman', Times, serif;
    line-height: 1.7rem;
}

body > *{
    margin-top: var(--spacing-2);
}

nav {
    height: 12.5%;
    background-color: var(--color-5-shade);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    box-shadow: 0 10px 10px;
}


main{
    height: 75%;
    background-color: var(--color-4-shade);
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: var(--spacing-2);
}

h1{
    color: #fff;
    opacity: 0.85;
    font-size: var(--header-font-size);
    font-family: 'Tilt Prism', sans-serif, Georgia, 'Times New Roman', Times, serif;
}

